{% extends 'userauth/auth.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
  {% if validlink %}
    <h2 class="text-primary">Change Password</h2>
    <hr>
    <form method="post">
    {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary mb-1">Update Password</button>
    </form>
  {% else %}
    <h2 class="text-primary">Password Reset - Invalid Link</h2>
    <hr>
    <h5>Uh oh! Seems like you followed the wrong link. <span class="text-primary">Please verify the link from your inbox!</span></h5>
    <img src="{% static 'userauth/email_sent.svg' %}" alt="Email Sent" height="300px" class="mt-5 d-block mx-auto">
  {% endif %}
    
{% endblock %}