
$theme-colors: (
  "primary": #746CC0,
  "danger": #f1285a
);

.btn {
  font-weight: 600 !important;
}

.btn-primary {
  background-color: #58427c;
  background-image: linear-gradient(330deg, #58427c 0%, #746cc0 74%);
}
.btn-primary:hover, .btn-outline-primary:hover {
  background-color: #3a2955;
  background-image: linear-gradient(330deg, #3a2955 0%, #6b63b6 74%);
}

.btn-dark, .btn-outline-dark:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#464e57), color-stop(60%, #343a40), to(#2b3035));
  background-image: linear-gradient(#636363, #343a40 60%, #2b3035);
  background-repeat: no-repeat;
}
  
@import "../../node_modules/bootstrap/scss/bootstrap";
